@font-face { font-family: 'Material Icons'; src: url("../fonts/MaterialIcon-Regular.eot"); src: url("../fonts/MaterialIcon-Regular.eot") format("embedded-opentype"), url("../fonts/MaterialIcon-Regular.woff") format("woff"), url("../fonts/MaterialIcon-Regular.ttf") format("truetype"), url("../fonts/MaterialIcon-Regular.svg#MaterialIcon-Regular") format("svg"); }

.messages { position: relative; max-width: 72.5rem; padding: 20px 30px 20px 75px; margin: 20px auto; border: none; border-radius: 2px; background-image: none; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); color: #212121; font-size: 15px; line-height: 20px; }

.messages:after { content: ''; position: absolute; top: 20px; left: 10px; bottom: 0; display: inline-block; width: 26px; height: 26px; border-radius: 50%; color: #fff; font-family: "Material Icons"; font-size: 26px; text-align: center; word-wrap: normal; word-break: normal; font-feature-settings: 'liga'; text-rendering: optimizeLegibility; cursor: pointer; }

.messages--error:before, .messages--status:before, .messages--warning:before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; display: inline-block; width: 50px; }

.messages--error { background-color: transparent; border: 1px solid #b21818; }

.messages--error:after { content: 'info_outline'; cursor: default; }

.messages--error:before { background-color: #b21818; }

.messages--status { border: 1px solid #8eb021; background-color: transparent; }

.messages--status:after { content: 'check'; cursor: default; }

.messages--status:before { background-color: #8eb021; }

.messages--warning { background-color: transparent; border: 1px solid #f6c342; }

.messages--warning:after { content: 'warning_outline'; cursor: default; color: #9e9e9e; }

.messages--warning:before { background-color: #f6c342; }
