{%
  set classes = [
  'item',
]
%}

{% if multiple %}
  {% for item in items %}
    {%
      set classes =  classes|merge([item.content['#view_mode']])
    %}
    <div{{ item.attributes.addClass(classes) }}>{{ item.content }}</div>
  {% endfor %}
{% else %}
  {% for item in items %}
    <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>
  {% endfor %}
{% endif %}