section {
  > .container {
    padding: $padding_mobile;
    margin: 0 auto;

    @include clearfix;

    @media (min-width: $screen-md) {
      padding: $padding_tablet;
    }

    @media (min-width: $screen-lg) {
      padding: $padding_desktop;
    }

    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      @media (min-width: $screen-md) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    .default, .two-columns, .three-columns, .four-columns, .five-columns, .six-columns {
      margin-bottom: em(10);

      @media (min-width: $screen-md) {
        margin-bottom: em(20);
      }
    }

    .item {
      position: relative;
      > * {
        display: block;
      }

      > *:not(img):not(.contextual) {
        padding: 10px;
      }
    }
  }

  &.full-width .container {
    padding: 0;
    max-width: 100%;
  }

  .row.container {
    max-width: $max_width_row;
  }

  .row-no-gutter.container {
    max-width: em(900);
  }

  .small-row.container {
    max-width: $max_width_small_row;
  }

  .row-no-gutter .content {
    justify-content: normal;

    .default, .two-columns, .three-columns, .four-columns, .five-columns, .six-columns {
      margin-bottom: 0;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
  }
}