.five-col-row {

  .container {

    .default {
      width: 49%;

      @media (min-width: $screen-md) {
        width: calc((1 / 4 * 100%) - .5%);
      }

      @media (min-width: $screen-lg) {
        width: calc((1/5 * 100%) - .5%);
      }
    }

    .two-columns {
      width: 49%;

      @media (min-width: $screen-md) {
        width: calc((2 / 4 * 100%) - .5%);
      }

      @media (min-width: $screen-lg) {
        width: calc((2/5 * 100%) - .5%);
      }
    }

    .three-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: calc((3 / 4 * 100%) - .5%);
      }

      @media (min-width: $screen-lg) {
        width: calc((3/5 * 100%) - .5%);
      }
    }

    .four-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        width: calc((4/5 * 100%) - .5%);
      }
    }

    .five-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        width: 100%;
      }
    }
  }

  .row-no-gutter .content {

    .default {
      width: 49%;

      @media (min-width: $screen-md) {
        width: calc(1 / 4 * 100%);
      }

      @media (min-width: $screen-lg) {
        width: calc(1/5 * 100%);
      }
    }

    .two-columns {
      width: 49%;

      @media (min-width: $screen-md) {
        width: calc(2 / 4 * 100%);
      }

      @media (min-width: $screen-lg) {
        width: calc(2/5 * 100%);
      }
    }

    .three-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: calc(3 / 4 * 100%);
      }

      @media (min-width: $screen-lg) {
        width: calc(3/5 * 100%);
      }
    }

    .four-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        width: calc(4/5 * 100%);
      }
    }

    .five-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        width: 100%;
      }
    }
  }
}