.three-col-row {

  .container {

    .default {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 49%;
      }

      @media (min-width: $screen-lg) {
        width: calc((1 / 3 * 100%) - 1%);
      }
    }

    .two-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 49%;
      }

      @media (min-width: $screen-lg) {
        width: calc((2 / 3 * 100%) - 1%);
      }
    }

    .three-columns {
      @media (min-width: $screen-md) {
        width: 100%;
      }
    }
  }

  .row-no-gutter .content {

    .default {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 50%;
      }

      @media (min-width: $screen-lg) {
        width: calc(1 / 3 * 100%);
      }
    }

    .two-columns {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 50%;
      }

      @media (min-width: $screen-lg) {
        width: calc(1 / 3 * 100%);
      }
    }

    .three-columns {
      @media (min-width: $screen-md) {
        width: 100%;
      }
    }
  }
}