.two-col-row {

  .container {

    .default {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 49%;
      }
    }

    .two-columns {
      width: 100%;

    }
  }

  .row-no-gutter .content {

    .default {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 50%;
      }

    }

    .two-columns {
      width: 100%;
    }
  }
}