{%
  set classes = [
  'paragraph-' ~ paragraph.id(),
  'layout'
]
%}
{% block paragraph %}
  {% block content %}
    <div {{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  {% endblock %}
{% endblock paragraph %}